{% extends "layout.html" %} <!--Instancia del bloque creado en layout-->

{% block content %}
<!--Comienza estructura base-->
<h1 class="nh1" style="text-align: center;">Enlaces importantes...</h1>
    <div class="fpa justify-content-center">    
        <ul style="font-weight: bold;">
            <!--Mostrando datos del diccionario dic-->
            {% for n in dic %}
            <li>
                <a href="{{n.url}}" target="_blank" style="text-decoration: none">{{n.texto}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}