{% extends "layout.html" %} <!--Instancia del bloque creado en layout-->

{% block content %}
<!--Comienza estructura base-->
<div class="fp container">
    <h1 class="nh1" style="text-align: center;">¡Hola! es un gusto saludarte...</h1>
    <div class="fpa justify-content-center">    
        <!--Espacio de foto-->
        <div class="col-5 dim">
            <img src="../static/img/f1.jpeg" class="imc" alt="JALB">
        </div>
        <!--Espacio de descripción-->    
        <div class="col" style="padding: 15px;">
            <p style="text-align: justify; margin: 10px;">
                  Soy Amílcar López, tengo 19 años y soy un estudiante de la Universidad Gerardo Barrios desde hace
                  ya dos años atrás, me gusta cantar, leer y escribir historias… Suelo salir mucho de viajes, a veces por
                  negocio y otras veces simplemente para disfrutar con mi familia… Soy un poco enfermizo, lo cual es malo
                  :( , pero aun así soy feliz a pesar de todo… Por otro lado, desde hace ya cuatro años me intereso la
                  programación y a pesar de que era joven y que en mi ciudad aun no se impartía materias orientadas a ello, 
                  yo estudiaba con el poco material que tenía, poco a poquito como dirían algunos y gracias a ello participe 
                  en varios eventos que me dieron un tanto de experiencia en el ambiente de la programación, pero hubo un 
                  problema, mis metas eran grandes y mi camino seguía siendo truncado por muchas personas que decían “no 
                  podrás lograrlo”, luche y seguí luchando, me gradué de Técnico en Desarrollo de Software, la primera 
                  promoción de mi ciudad específicamente, así que casi no aprendimos nada relevante… Actualmente estudio 
                  mi cuarto ciclo de Ingeniería en Sistemas y Redes Informáticas y a la vez ayudo en el instituto del cual 
                  me gradué, ya que soy un tutor más del centro educativo y me gusta pensar que, aunque mis tutorías son cortas, 
                  estoy ayudando a promover la educación y el deseo de superación para los jóvenes del municipio de Guatajiagua, 
                  intentando de esta manera, que mi ciudad mejore y salga adelante…       
            </p>
        </div>
    
    </div>
</div>          
{% endblock %}
 